<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
		</button>
		<!--<a class="navbar-brand" href="#">
			<img src="../../../img/ryan_icon.PNG" width="30" height="30" alt="">
		</a>-->
		<a class="navbar-brand" data-ui-sref="home">Ryan Harris</a>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" style="color: white" data-ui-sref="home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: white" data-ui-sref=".about">Ryan's - EP</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: white" data-ui-sref=".resume">Resume</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: white" data-ui-sref=".contact">Contact</a>
				</li>
				<li class="nav-item">
					<a href="#">
						<a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/rharris88/">
							<span class="fa fa-linkedin"></span>
						</a>
					</a>
				</li>
				<li class="nav-item">
					<a href="#">
						<a class="btn btn-social-icon btn-github" href="https://github.com/harris1127">
							<span class="fa fa-github"></span>
						</a>
					</a>
				</li>
				<li class="nav-item">
					<a href="#">
						<a class="btn btn-social-icon btn-twitter" href="#https://twitter.com/itsrharris">
							<span class="fa fa-twitter"></span>
						</a>
					</a>
				</li>
				<li class="nav-item">
					<a href="#">
						<a class="btn btn-social-icon btn-default" href="https://stackoverflow.com/users/6906148/23rharris">
							<span class="fa fa-stack-overflow"></span>
						</a>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>