<hr>
<div id="rharris-reveal">
    <div class="blog">

        <div class="rharris-post-1" ng-click="vm.post1()">
            <div class="blog-copy">
                <h2>Car Enthusiast</h2>
                <p></p>
            </div>
        </div>

        <div class="rharris-post-2" ng-click="vm.post2()">
            <div class="blog-copy">
                <h2>Software Developer</h2>
                <p></p>
            </div>
        </div>

        <div class="rharris-post-3" ng-click="vm.post3()">
            <div class="blog-copy">
                <h2>Cereal Addict</h2>
                <p></p>
            </div>
        </div>

    </div>
</div>